<ion-header>
  <ion-toolbar>
    <ion-title>BMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>

    <h3>กรอกข้อมูล</h3>

  </div>
  <h5>ส่วนสูง</h5>
  <ion-item>

    <ion-input name="height" [(ngModel)]="height" type="text" placeholder="cm."></ion-input>

  </ion-item>

      <h5>น้ำหนัก</h5>

          <ion-item>
      
            <ion-input name="weight" [(ngModel)]="weight" type="text" placeholder="kg."></ion-input>

            </ion-item>

            <ion-button size="large" (click)="Submit()" type="submit" expand="block">Submit</ion-button>

</ion-content>
